/* Main styling */
body {
    background-image: url("https://media.istockphoto.com/vectors/alcohol-cocktails-drinks-hand-drawn-vintage-style-collection-and-vector-id861107394?k=20&m=861107394&s=612x612&w=0&h=4ARVYlvL2c_NzFbH29pPVpvRfmQxZ9TvjZ9YaVBPn2o=");
    height: 100%;
}

.hero-body {
    background-image: url("https://media.istockphoto.com/vectors/alcohol-cocktails-drinks-hand-drawn-vintage-style-collection-and-vector-id861107394?k=20&m=861107394&s=612x612&w=0&h=4ARVYlvL2c_NzFbH29pPVpvRfmQxZ9TvjZ9YaVBPn2o=");
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Side Bar styling */
.search {
    background-color: #F2507F;
}

.favorites {
    background-color: #28BAED;
}

/* Cocktail list styling */
.cocktail-background {
    background-color: #443A77;
}

.cocktail-container {
    color: white;
}

.cocktail-list-item {
    margin: 0.5rem;
}

.cocktail-list-item:hover {
    cursor: pointer;
    color: #ffe08a;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2rem;
   }

.fact {
    background-color: #5FB038;
}

/* Button styling */
button {
    margin-top: 10px;
}

.favButton {
    margin: 5px;
}